  <div *ngIf="id === '1'">
    <!-- Nội dung của trang 1.html -->
      <h1>Trang 1</h1>
      <p>Nội dung của trang 1.html...</p>
    </div>

  <div *ngIf="id === '2'">
    <!-- Nội dung của trang 2.html -->
      <h1>Trang 2</h1>
      <p>Nội dung của trang 2.html...</p>
    </div>

    <div *ngIf="id === '3'">
      <!-- Nội dung của trang 3.html -->
        <h1>Trang 3</h1>
        <p>Nội dung của trang 3.html...</p>
      </div>

    <div *ngIf="id === '4'">
      <!-- Nội dung của trang 4.html -->
        <h1>Trang 4</h1>y
        <p>Nội dung của trang 4.html...</p>
      </div>
  
