<header class="header">
  <a routerLink="" class="logo">Java Only</a>
  <nav class="navbar">
      <a routerLink="" class="home" [ngClass]="{'active': isHomeActive}" >Home</a>
      <a routerLink="backend" [ngClass]="{'active': isBackendActive}" >Backend</a>
      <a routerLink="frontend" [ngClass]="{'active': isFrontendActive}">Frontend</a>
      <a routerLink="devops" [ngClass]="{'active': isDevopsActive}">Devops</a>
      <a routerLink="about" [ngClass]="{'active': isAboutActive}">About</a>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-content">
    Bản quyền &copy; 2023 JavaOnly
  </div>
</footer>
