<!-- body about page start  -->
<body>

  <div class="backgound">

  <section class="about">

    <div class="about-all">
      <h4 class="topic">ABOUT </h4>

      <!-- item start -->
      <div class="about-item">
        <a href="" class="about-content">Java Core</a>
        <div class="about-poster">
          <span class="about-poster-date">22/06/2023</span>
          <span class="about-poster-author">Thịnh</span>
          <span class="about-poster-comment">Comment</span>
        </div>
        <div class="about-description">
          <p>Nền tảng của Java, Java Core + Java OOP = Intern Java !!!!
            Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          </p>
        </div>
        <button class="about-details">Đọc tiếp -></button>
     </div>
      <!-- item end -->

  </div>
  </section>

</div>

</body>
<!-- body about page end  -->
