<!-- body devops page start  -->
<body>

  <div class="backgound">

  <section class="devops">

    <div class="devops-all">
      <h4 class="topic">devops </h4>

      <!-- item start -->
      <div class="devops-item">
        <a class="devops-content" [routerLink]="['/devops', 1]" class="devops-content">
          1. Server là gì, hướng dẫn tạo server cloud miễn phí bằng Microsoft Azure
        </a>
        <div class="devops-poster">
          <span class="devops-poster-date">22/06/2023</span>
          <span class="devops-poster-author">Thịnh</span>
          <span class="devops-poster-comment">Comment</span>
        </div>
        <div class="devops-description">
          <p>Trong bài viết này mình sẽ giải thích dễ hiểu nhất <strong>Server</strong> là gì, và làm sao để tạo một
            server free bằng một trong những nhà cung cấp dịch vụ cloud lớn nhất hiện tại, đó chính là Microsoft Azure.
          </p>
        </div>
        <button class="devops-details">Đọc tiếp -></button>
     </div>
      <!-- item end -->
      
      

      <!-- item start -->
      <div class="devops-item">
        <a href="" class="devops-content" [routerLink]="['/devops', 2]">2. Kết nối server từ xa bằng ứng dụng trực quan </a>
        <div class="devops-poster">
          <span class="devops-poster-date">22/06/2023</span>
          <span class="devops-poster-author">Thịnh</span>
          <span class="devops-poster-comment">Comment</span>
        </div>
        <div class="devops-description">
          <p>Sau khi đã tạo một server cloud, việc đầu tiên cần làm đó là kết nối tới <strong>Server</strong> đó,
            bài viết này sẽ hướng dẫn chi tiết cách kết nối tới server bằng windown và linux.
          </p>
        </div>
        <button class="devops-details">Đọc tiếp -></button>
     </div>
      <!-- item end -->

      <!-- item start -->
      <div class="devops-item">
        <a href="" class="devops-content" [routerLink]="['/devops', 3]">3. Triển khai website với server cloud cực dễ  ai cũng làm được kể cả người không biết gì về code.</a>
        <div class="devops-poster">
          <span class="devops-poster-date">22/06/2023</span>
          <span class="devops-poster-author">Thịnh</span>
          <span class="devops-poster-comment">Comment</span>
        </div>
        <div class="devops-description">
          <p>Nếu bạn đang đọc bài viết này thì xin chúc mừng, bạn sắp có một website của riêng mình ở trên <strong>World Wide Web.</strong>
            Bạn sẽ bất ngờ khi biết triển khai một website trên chính server của mình lại dễ dàng đến thế

          </p>
        </div>
        <button class="devops-details">Đọc tiếp -></button>
     </div>
      <!-- item end -->





  </div>
  </section>

</div>

</body>
<!-- body devops page end  -->
