<!-- body backend page start  -->
<body>
  <section class="backend">

    <div class="backend-content">
      <h3>Java Core</h3>
    </div>
    <button class="backend-details">Đọc tiếp</button>
    <div class="backend-description">
      <p>Nền tảng của Java, Java Core là </p>
    </div>

    <div class="backend-content">
      <h3>Java OOP</h3>
    </div>
    <button class="backend-details">Đọc tiếp</button>
    <div class="backend-description">
      <p>Object Oriented Programing - Lập trình hướng đối tượng là gì. Lập trình có cần thiết phải học ?</p>
    </div>



  </section>
</body>
<!-- body backend page end  -->
