<!-- body frontend page start  -->
<body>

  <div class="backgound">

  <section class="frontend">

    <div class="frontend-all">
      <h4 class="topic">FRONTEND </h4>

      <!-- item start -->
      <div class="frontend-item">
        <a href="" class="frontend-content">Java Core</a>
        <div class="frontend-poster">
          <span class="frontend-poster-date">22/06/2023</span>
          <span class="frontend-poster-author">Thịnh</span>
          <span class="frontend-poster-comment">Comment</span>
        </div>
        <div class="frontend-description">
          <p>Nền tảng của Java, Java Core + Java OOP = Intern Java !!!!
            Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          </p>
        </div>
        <button class="frontend-details">Đọc tiếp -></button>
     </div>
      <!-- item end -->


     <div class="frontend-item">
      <a href="" class="frontend-content">Java OOP</a>
      <div class="frontend-poster">
          <span class="frontend-poster-date">22/06/2023</span>
          <span class="frontend-poster-author">Thịnh</span>
          <span class="frontend-poster-comment">Comment</span>
        </div>
      <div class="frontend-description">
        <p>Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
          Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
          Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
          Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?1
        </p>
        <button class="frontend-details">Đọc tiếp -></button>
      </div>
    </div>


    <div class="frontend-item">
      <a href="" class="frontend-content">Java Core</a>
      <div class="frontend-description">
        <p>Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
          Nền tảng của Java, Java Core + Java OOP = Intern Java !!!
        </p>
      </div>
      <button class="frontend-details">Đọc tiếp -></button>
   </div>


   <div class="frontend-item">
    <a href="" class="frontend-content">Java OOP</a>
    <div class="frontend-description">
      <p>Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
        Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
        Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
        Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?2
      </p>
      <button class="frontend-details">Đọc tiếp -> </button>
    </div>
  </div>
  <div class="frontend-item">
    <a href="" class="frontend-content">Java Core</a>
    <div class="frontend-description">
      <p>Nền tảng của Java, Java Core + Java OOP = Intern Java !!!</p>
    </div>
    <button class="frontend-details">Đọc tiếp -> </button>
 </div>


 <div class="frontend-item">
  <a href="" class="frontend-content">Java OOP</a>
  <div class="frontend-description">
    <p>Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
      Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
      Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?
      Object Oriented Programing - Lập trình hướng đối tượng là gì. Để làm lập trình viên có cần thiết phải học ?3
    </p>
    <button class="frontend-details">Đọc tiếp -> </button>
  </div>
</div>




  </div>
  </section>

</div>

</body>
<!-- body frontend page end  -->
