
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Only</title>
    <link rel="stylesheet" href="home.component.scss">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<!-- body home start -->
<body>
    <section class="home">
        <div class="home-content">
            <h1>Hi, I'm Thịnh Duy</h1>
            <h3>Fullstack Developer</h3>
            <p>Từng là một Backend Developer không biết tí gì về Fontend và Deploy code server, mình ở đây
                để chia sẻ kinh nghiệm code về chính trang web Blog này, nơi bạn sẽ biết được những kỹ năng về
                backend cũng như fontend để deploy code lên website một cách đơn giản nhất.
            </p>
            <div class="btn-box">
            <a href="mailto:leduythinh20001@gmail.com?subject=Hello%20Thinh">Hire me</a>
            <a href="#">Java Only</a>
            </div>
        </div>
        <div class="home-sci">
            <a target="Github" href="https://github.com/thinhotwp1"><i class='bx bxl-github' ></i></a>
            <a target="" href="mailto:leduythinh20001@gmail.com?subject=Hello%20Thinh"><i class='bx bxl-gmail' ></i></a>
            <a target="Facebook" href="https://www.facebook.com/ThinhRuyLee/"><i class='bx bxl-facebook' ></i></a>
        </div>

        <span class="home-imgHover"></span>
    </section>
</body>
<!-- body home end -->
</html>
